/* CSS VOISILIEN */
/* -------------------------------------------- */

body {
    font-family: 'Rubik', sans-serif;
    font-family: 'Quicksand', sans-serif;

}


h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 2.5em;
}


/* -------------------------------------------- */


.boutonforme {
    background-color: transparent;
    box-shadow: none;
    color: black;
    font-weight: bold;
    border: solid 3px black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    transition: all 0.7s ease 0s;
    cursor: pointer;
    text-decoration: none;

}

.boutonforme:hover{

	background-color : transparent; /* Norme W3C, CSS4 */
	box-shadow: none;
	color: black;
	font-weight: bold;
	border: solid 3px black;
	padding-left:20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50px;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 3%;
	transition: all 0.7s ease 0s;
	cursor: pointer;
	text-decoration: none;
	
}

/* ------ MENU MOBILE ------ */


header{
    z-index: 5;
    top: 0;
}

#main-nav {
    position:fixed;
    right:0;
    top:0;
    z-index:3;
    width:100%;
    height:100vh;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    transform:translateX(100%);
    transition:transform 0.4s ease-in-out;


}

#main-nav.open {
    transform:translateX(0%);

}

#main-nav h1{
	text-align:center;
	color:rgba(77, 99, 255, 1);
}

#main-nav  ul {
	list-style-type:none; /*Enlever les puces */
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
}

#main-nav ul li{
	display:block;
	width:90%;
	margin:0 auto;
	padding:0;
    padding-bottom: 20px;
}

#main-nav a{
	display:block;
	height:100%;
	width:100%;
	background-color:transparent;
	color:black;
	text-decoration:none;
	transition:background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 1.8rem;
    padding-top: 30px;
}

#main-nav a:hover{
	color: #661d99;
}

.buttons{
	background-color:transparent;
	border:none;
	padding:5px;
	margin:0;
	cursor:pointer; /* Affiche le pointeur */
}


/* --- Boutons menu mobile --- */
#close-btn{
	color:black;
	font-size: 3rem;
	position:absolute;
	right:30px;
	top:13px;
}

#open-btn{
	color:#000;
	font-size: 5pt;
	position:fixed;
	top:15px;
	right:5%;
	background-color: white;
}

#open-btn {
    display:block !important;
}

/* ------ MENU PC ------ */
#main-nav2 {
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	background-color: white;
	padding: 25px;
	width: 100%;
	padding-left: 60px;
}

#main-nav2  ul {
	list-style-type:none; /*Enlever les puces */
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
}

#main-nav2 ul li{
	display:inline-block;
	margin:0 auto;
	padding:0;
    margin-right: 20px;
    margin-left: 20px;

}

#main-nav2 a{
	display:block;
	height:100%;
	width:100%;
	background-color:transparent;
	color:black;
	text-decoration:none;
    font-weight: 600;
    font-size: 1.8rem;
}

#main-nav2 a:hover{
	color: #661d99;
}


/* -------------------------------------------- */

/* PREMIERE PARTIE - ECRAN 01 - LOGO VOISILIEN & ACCROCHE */


.voisilien-premier-ecran{
    height: 100vh;
}

.infos-premier-ecran{
    position: absolute;
    width:45%;
    background-color: white;
    top: 55%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    text-align: center;
    z-index: 4;
    padding-top: 30px;
    padding-bottom:  60px;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s linear;
}

@keyframes fadeIn{
    from { opacity:0; }
    to { opacity:1; }
}

.logo > h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 5em;
}

.accroche {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vh;
    padding-right: 6%;
    padding-left: 6%;
}

.img_fond_ecran1{
    padding: 0;
}

.img_habitants{
    position: absolute;
    z-index: 3;
    opacity: 0; 
}

.img_habitants > img {
	width: 100vh;
	height: 30.5vh;
	object-fit: cover;
	display: block;
	-webkit-filter: grayscale(100%);
}

.img_boites_lettres{
    z-index: 2;
}

.img_boites_lettres > img {
	width: 100%;
	height: 30.5vh;
	object-fit: cover;
	display: block;
}

.img_habitants:hover{
    opacity: 1;
    transition: all 0.2s ease-out;
}



/* -------------------------------------------- */

/* DEUXIEME PARTIE - ECRAN 02 - DESCRIPTION + PRESENTATION DU PROJET */


.voisilien-deuxieme-ecran{
    margin-bottom: 10vh;
}

.etape1{
    animation: slideInFromLeft 1.2s ease-out;
}

.etape2 {
    animation: slideInFromRight 1.2s ease-out;
}

.etape3 {
    animation: slideInFromLeft 1.2s ease-out;
}

@keyframes slideInFromLeft{
    from { transform:translateX(-100%);}
    to { transform:translateX(0);}
}

@keyframes slideInFromRight{
    from { transform:translateX(100%);}
    to { transform:translateX(0);}
}

.text_etapes{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.text_etapes_right{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: right;
}

.etapes{
    margin-top:10px;
}


/* -------------------------------------------- */

/* TROISIEME PARTIE - COMMUNAUTE  */

.voisilien-troisieme-ecran {
	height: 90vh;
}

.membres{
    position: relative;
    height: 70vh;
    padding:0;
    padding-top: 10vh;
}

.img_membres{
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.img_membres > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.img_boites{
    position: absolute;
    height: 60vh;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.img_boites >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Hover content */
.hover_content_1 {
    position: absolute;
    z-index: 5;
    color: black;
    font-size: 1.5em;
    padding: 20px;
    background-color: white;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.img_membres:hover{
    opacity: 1;
    transition: all 0.1s ease-out;
}

/* Hover content */
.hover_content {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.1s linear;
    color: #FFF;
    background-color: rgba(0,0,0,0.4);
    font-size: 2rem;
    font-weight: 600;
}

.hover_content:hover{
    opacity: 1;
}

.citation {
    padding: 5px;
}

.text_users{
    padding: 20px;
    text-align: center;
}

/* -------------------------------------------- */

/* QUATRIEME PARTIE - CARTE + SIMULATION ANNONCES SUR LA CARTE */

.accroche-map{
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 50px;
}


/* -------------------------------------------- */

/* FOOTER */

footer {
    background-color: white;
    text-align: center;
    margin-top: 70px;
    bottom: 0;
}


/* ------------ */
#main-nav3 {
	font-family: 'Rubik', sans-serif;
	font-weight: 100;
	background-color: white;
	padding: 25px;
	width: 100%;
	padding-left: 60px;
}

#main-nav3  ul {
	list-style-type:none; /*Enlever les puces */
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
}

#main-nav3 ul li{
	display:inline-block;
	margin:0 auto;
	padding:0;
    margin-right: 20px;
    margin-left: 20px;

}

#main-nav3 a{
	display:block;
	height:100%;
	width:100%;
	background-color:transparent;
	color:black;
	text-decoration:none;
    font-weight: 100;
    font-size: 1.5rem;
}

#main-nav3 a:hover{
	color: #661d99;
}


/* ----- Bouton scroll to top ----- */

#btn-scroll-top{
    position: fixed;
    bottom: 20px;
    right: 3vw;
    opacity: 0.5;
    z-index: 10;
}

#btn-scroll-top:hover{
    opacity: 1;
}





/* RESPONSIVE  */

/* Media Query */

@media(min-width:769px){
    .etapes{
        margin-top:30px;
        display: flex;
        align-items: center;
    }
}

@media(min-width:769px){
    #menu_hamburger{
        display: none;
    }
}

@media(max-width:769px){
    header{
        position: fixed;
    }
}

@media(max-width:769px){
    #menu_pc{
        display:none;
    }
    .cover{
        object-fit: cover;
        width: 48vw;
        height: 25vh;
    }
    #masquer{
        display: none;
    }
}


/* ECRAN 01 MEDIA QUERY */

@media(max-width:1198px){
    .voisilien-premier-ecran{
        height: 130vh;
    }
}

@media(max-width:950px){
    .voisilien-premier-ecran{
        height: 80vh;
    }
}

@media(max-width:950px){
    .img_boites_lettres > img {
        width: 100%;
        height: 20vh;
        object-fit: cover;
        display: block;
    }
}

@media(max-width:950px){
    .img_habitants > img {
        width: 100vh;
        height: 20vh;
        object-fit: cover;
        display: block;
    }
}

@media(max-width:769px){
    .infos-premier-ecran{
        width: 80%;
        top: 40%; left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    }
}

@media(max-width:769px){
    .logo{
        font-size: 0.7em;
    }
}

@media(max-width:769px){
    .logo{
        font-size: 0.7em;
    }
}

@media(max-width:1198px){
	.impair {
       display: none;
       visibility: hidden;
    }
}


/* ECRAN 02 MEDIA QUERY */

@media(max-width:820px){
    .voisilien-deuxieme-ecran{
        margin-top: 10%;
    }
}

@media(max-width:769px){
    .text_etapes{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(max-width:1198px){
 /* Hover content */
    .hover_content_1 {
        position: absolute;
        z-index: 5;
        color: black;
        font-size: 1em;
        padding: 20px;
        background-color: white;
        top: 50%; left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    }
}


/* ECRAN 04 CARTE */

@media(max-width:820px){
     .accroche-map{
          margin-top: 20%;
          margin-bottom: 5%;
          padding: 50px;
    }
}